footer{
    background: linear-gradient(0deg, var(--color-bg) 0%, var(--color-primary) 55%, var(--color-white) 85%);
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
    transition: var(--transition);

}
.footer > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;

}
footer a{
   color: var(--color-bg);

}
.footer__logo{
    margin-bottom: 2rem;
    display: inline-block;
    width: 250px;
    height: 250px;

}
.permalinks{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;

}
.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;

}
.footer__socials a{
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid var(--color-white);;

}
.footer__socials a:hover{
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);

}
.footer__copyright{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    color: var(--color-white);

}

/* Media Queries for small devices*/
@media screen and (max-width: 600px){
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;

    }
    .footer__socials{
        margin-bottom: 2.6rem;

    }
    
}
