header{
    padding-top: 2rem;
    overflow: hidden;

}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;

}
.header-img{
    border-radius: 50%;
    
}
/* Media Queries for medium devices*/
@media screen and (max-width: 1024px){
    .header{
        height: 68vh;
        
    }

}

/* Media Queries for small devices*/
@media screen and (max-width: 600px){
    .header{
        height: 100vh;

    }
    
}