body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
:root{
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

}
html{
    scroll-behavior: smooth;

}
::-webkit-scrollbar{
    display:none

}
body{
    font-family: 'Rubik', sans-serif;
    background: var(--color-white);
    color: #000;
    line-height: 1.7;


}
/* General Styles */
.container {
    width: var(--container-width-lg);
    margin: 0 auto;

}
section{
    margin-top: 8rem;

}
.text-light{
    color: var(--color-light);

}
a{
    transition: var(--transition);
    text-decoration: none;
}
.btn{
    width: max-content;
    display: inline-block;
    color: var(--color-primary); 
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    text-decoration: none;

}
.btn:hover{
    color: var(--color-white);
    border-color: transparent;
    text-decoration: none;
}
.btn-primary{
    color: var(--color-white);
    text-decoration: none;
}
img{
    display:block;
    width: 100%;
    object-fit: cover;

}
/* Media Queries for medium devices*/
@media screen and (max-width: 1024px){
    .container{
        width: var(--container-width-md)

    }
    section{
        margin-top: 6rem;

    }

}

/* Media Queries for small devices*/
@media screen and (max-width: 600px){
    .container{
        width: var(--container-width-sm)

    }
    section > h2{
        margin-bottom: 2rem;

    }

}