.master-card{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 1rem;

}
.product__title{
    font-size: 1rem;

}
.card-group{
    text-align: center;
    height: 100%;
    position: relative;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    
}
